{
  "swagger": "2.0",
  "info": {
    "title": "Юнипост",
    "description": "Удобный фулфилмент для интернет-магазинов.",
    "version": "2.0.0"
  },
  "host": "my.unipost.com.ua",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/api/v2/directory/city/list": {
      "get": {
        "summary": "Список городов",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Страница",
            "type": "integer"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Строка для поиска",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Возвращает список городов",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "Номер текущей страницы результатов",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "Общее количество результатов по данной выборке",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "Количество страниц",
                  "type": "integer"
                },
                "items": {
                  "description": "Спискок городов",
                  "items": {
                    "$ref": "#/definitions/City"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Directories"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/directory/shipping-method/list": {
      "get": {
        "summary": "Способы доставки",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Страница",
            "type": "integer",
            "default": "1"
          },
          {
            "name": "cityId",
            "in": "query",
            "description": "Получить доступные методы доставки для города",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Возвращает список способов доставки (службы доставки)",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "Номер текущей страницы результатов",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "Общее количество результатов по данной выборке",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "Количество страниц",
                  "type": "integer"
                },
                "items": {
                  "description": "Спискок методов",
                  "items": {
                    "properties": {
                      "id": {
                        "example": "1",
                        "type": "integer"
                      },
                      "mane": {
                        "description": "Название",
                        "example": "Новая почта. Отделение",
                        "type": "string"
                      },
                      "type": {
                        "description": "тип службы достав например Новая почта или Джастин",
                        "example": "nova-post",
                        "type": "string"
                      },
                      "category": {
                        "description": "Категория например на отделение post-office или курер по адресу to-door",
                        "example": "post-office",
                        "type": "string"
                      },
                      "created_at": {
                        "example": "2021-02-26T13:11:27+02:00",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Directories"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/directory/post-office/list": {
      "get": {
        "summary": "Офисы служб доставки",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Страница",
            "type": "integer",
            "default": "1"
          },
          {
            "name": "cityId",
            "in": "query",
            "description": "Получить доступные офисы доставки для города",
            "type": "integer"
          },
          {
            "name": "shippingMethodId",
            "in": "query",
            "description": "Получить доступные офисы доставки для метода доставки",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Возвращает список офисов доставки (офисы службы доставки)",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "Номер текущей страницы результатов",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "Общее количество результатов по данной выборке",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "Количество страниц",
                  "type": "integer"
                },
                "items": {
                  "description": "Спискок офисов",
                  "items": {
                    "$ref": "#/definitions/Office"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Directories"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/product/list": {
      "get": {
        "summary": "Список товаров.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Можно искать по таким полям как 'name', 'article', 'shopArticle', 'barcode'",
            "type": "string"
          },
          {
            "name": "article",
            "in": "query",
            "description": "Поиск по полю 'article'",
            "type": "string"
          },
          {
            "name": "shopArticle",
            "in": "query",
            "description": "Поиск по полю 'shopArticle'",
            "type": "string"
          },
          {
            "name": "barcode",
            "in": "query",
            "description": "Поиск по полю 'barcode'",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Поиск по полю 'name'",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы",
            "type": "integer",
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Возвращает список товаров клиента",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "Номер текущей страницы результатов",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "Общее количество результатов по данной выборке",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "Количество страниц",
                  "type": "integer"
                },
                "items": {
                  "description": "Спискок товаров",
                  "items": {
                    "$ref": "#/definitions/FulfilmentProduct"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Product"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/product/view/{product}": {
      "get": {
        "summary": "Просмотр информации о товаре.",
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "Возвращает информацию о конекретном товаре",
            "schema": {
              "$ref": "#/definitions/FulfilmentProduct2"
            }
          }
        },
        "tags": [
          "Product"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/product/create": {
      "post": {
        "summary": "Создать новый продукт",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "name",
                "price",
                "retailPrice",
                "shopArticle"
              ],
              "properties": {
                "name": {
                  "description": "Название товара",
                  "example": "Телефон",
                  "type": "string"
                },
                "weight": {
                  "description": "Вес (кг)",
                  "example": "1.00",
                  "type": "number"
                },
                "length": {
                  "description": "Длина (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "width": {
                  "description": "Ширина (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "height": {
                  "description": "Высота (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "price": {
                  "description": "Цена",
                  "example": "1.00",
                  "type": "number"
                },
                "retailPrice": {
                  "description": "Розничная цена",
                  "example": "1.00",
                  "type": "number"
                },
                "article": {
                  "description": "Артикул",
                  "example": "DF456F56",
                  "type": "string"
                },
                "shopArticle": {
                  "description": "Артикул магазина",
                  "example": "2342DSr434",
                  "type": "string"
                },
                "barcode": {
                  "description": "Штрихкод товара",
                  "example": "2342DSr434",
                  "type": "string"
                },
                "brandName": {
                  "description": "Название бренда",
                  "example": "nike",
                  "type": "string"
                },
                "fragile": {
                  "description": "Хрупкий",
                  "example": "true|false",
                  "type": "boolean"
                },
                "danger": {
                  "description": "18+",
                  "example": "true|false",
                  "type": "boolean"
                },
                "needBox": {
                  "description": "Необходима упаковка",
                  "example": "true|false",
                  "type": "boolean"
                },
                "isDropshippingEnabled": {
                  "description": "Разрешить продажу дропшипперам",
                  "example": "true|false",
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "422": {
            "description": "error"
          }
        },
        "tags": [
          "Product"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/product/update/{product}": {
      "post": {
        "summary": "Обновить параметры товара",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Параметры продукта, можно передать только те что нужно изменить",
            "schema": {
              "properties": {
                "name": {
                  "description": "Название товара",
                  "example": "Телефон",
                  "type": "string"
                },
                "weight": {
                  "description": "Вес (кг)",
                  "example": "1.00",
                  "type": "number"
                },
                "length": {
                  "description": "Длина (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "width": {
                  "description": "Ширина (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "height": {
                  "description": "Высота (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "price": {
                  "description": "Цена",
                  "example": "1.00",
                  "type": "number"
                },
                "retailPrice": {
                  "description": "Розничная цена",
                  "example": "1.00",
                  "type": "number"
                },
                "article": {
                  "description": "Артикул",
                  "example": "DF456F56",
                  "type": "string"
                },
                "shopArticle": {
                  "description": "Артикул магазина",
                  "example": "2342DSr434",
                  "type": "string"
                },
                "barcode": {
                  "description": "Штрихкод товара",
                  "example": "2342DSr434",
                  "type": "string"
                },
                "brandName": {
                  "description": "Название бренда",
                  "example": "nike",
                  "type": "string"
                },
                "fragile": {
                  "description": "Хрупкий",
                  "example": "true|false",
                  "type": "boolean"
                },
                "danger": {
                  "description": "18+",
                  "example": "true|false",
                  "type": "boolean"
                },
                "needBox": {
                  "description": "Необходима упаковка",
                  "example": "true|false",
                  "type": "boolean"
                },
                "isDropshippingEnabled": {
                  "description": "Разрешить продажу дропшипперам",
                  "example": "true|false",
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "422": {
            "description": "error"
          }
        },
        "tags": [
          "Product"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/shipment/list": {
      "get": {
        "summary": "Список поставок",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы",
            "type": "integer",
            "default": "1"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Созданные начиная с этой даты",
            "type": "string",
            "format": "2020-09-21"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Созданные заканчивая этой датой",
            "type": "string",
            "format": "2020-09-31"
          }
        ],
        "responses": {
          "200": {
            "description": "Список поставок на склад",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "Номер текущей страницы результатов",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "Общее количество результатов по данной выборке",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "Количество страниц",
                  "type": "integer"
                },
                "items": {
                  "description": "Спискок поставок",
                  "items": {
                    "$ref": "#/definitions/FulfilmentShipment"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Shipment"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/shipment/view/{shipment}": {
      "get": {
        "summary": "Просмотр данных о поставке.",
        "parameters": [
          {
            "name": "shipment",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о конкретной поставке на склад",
            "schema": {
              "$ref": "#/definitions/FulfilmentShipment2"
            }
          }
        },
        "tags": [
          "Shipment"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/shipment/create": {
      "post": {
        "summary": "Создать поставку на склад",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "shipmentProducts"
              ],
              "properties": {
                "comment": {
                  "description": "Комментарий",
                  "example": "Комментарий",
                  "type": "string"
                },
                "shipmentProducts": {
                  "items": {
                    "properties": {
                      "product": {
                        "description": "Артикул товара|Артикул магазина!Идентификатор в нашей системе",
                        "example": "DER124356",
                        "type": "string"
                      },
                      "awaitingCount": {
                        "description": "Количество товаров в посылке",
                        "example": "10",
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                },
                "id": {
                  "description": "Идентификатор поставки",
                  "example": "1"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "error",
            "schema": {
              "properties": {
                "errors": {
                  "items": {
                    "type": "string"
                  }
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Shipment"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/package/list": {
      "get": {
        "summary": "Список посылок",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы",
            "type": "integer",
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Вовзращает список посылок",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "Номер текущей страницы результатов",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "Общее количество результатов по данной выборке",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "Количество страниц",
                  "type": "integer"
                },
                "items": {
                  "description": "Спискок посылок",
                  "items": {
                    "$ref": "#/definitions/Package"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "error"
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/package/view/{package}": {
      "get": {
        "summary": "Данные о посылке.",
        "parameters": [
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "Вовзращает список посылок",
            "schema": {
              "$ref": "#/definitions/Package2"
            }
          },
          "404": {
            "description": "error"
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/package/create": {
      "post": {
        "summary": "Создание посылки",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "externalId",
                "declaredCost",
                "city",
                "shippingMethodId",
                "products",
                "officeId"
              ],
              "properties": {
                "externalId": {
                  "title": "ID посылки в вашей CMS",
                  "example": "D34G56f",
                  "type": "string"
                },
                "weight": {
                  "description": "Вес (кг)",
                  "example": "1.00",
                  "type": "number"
                },
                "length": {
                  "description": "Длина (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "width": {
                  "description": "Ширина (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "height": {
                  "description": "Высота (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "declaredCost": {
                  "description": "Оценочная стоимость",
                  "example": "1.00",
                  "type": "number"
                },
                "cod": {
                  "description": "Наложенный платеж",
                  "example": "1.00",
                  "type": "number"
                },
                "officeId": {
                  "description": "Id почтового отделения службы доставки",
                  "example": "1",
                  "type": "integer"
                },
                "postOffice": {
                  "description": "Название службы и адрес или номер отделения, для доставки, используется при кастомных методах доставки.",
                  "example": "Delivery, Склад: КИЕВ-01",
                  "type": "string"
                },
                "shippingMethodId": {
                  "description": "Идентификатор способа доставки",
                  "example": "1",
                  "type": "integer"
                },
                "city": {
                  "description": "Идентификатор города",
                  "example": "1",
                  "type": "integer"
                },
                "street": {
                  "description": "Улица",
                  "example": "Харьковская",
                  "type": "string"
                },
                "house": {
                  "description": "Номер дома",
                  "example": "1",
                  "type": "string"
                },
                "apartment": {
                  "description": "Офис/Квартира",
                  "example": "1",
                  "type": "string"
                },
                "firstName": {
                  "description": "Имя",
                  "example": "Василий",
                  "type": "string"
                },
                "lastName": {
                  "description": "Фамилия",
                  "example": "Пупкин",
                  "type": "string"
                },
                "middleName": {
                  "description": "Отчество",
                  "example": "Иванов",
                  "type": "string"
                },
                "edrpou": {
                  "example": "Код ЄДРПОУ/РНОКПП. Для отправки на Юр. Лицо",
                  "type": "string"
                },
                "phone": {
                  "description": "Телефон",
                  "example": "+380665643567",
                  "type": "string"
                },
                "email": {
                  "description": "Email",
                  "example": "pupkin@gmail.com",
                  "type": "string"
                },
                "comment": {
                  "description": "Комментарий",
                  "example": "Комментарий",
                  "type": "string"
                },
                "convenientDeliveredDatetime": {
                  "description": "Удобное дата и время доставки. (только для типа доставки IPOST)",
                  "example": "2020-12-25 23:59",
                  "type": "string"
                },
                "whoIsPaid": {
                  "description": "Кто платильщик доставки",
                  "example": "recipient|sender",
                  "type": "string"
                },
                "integrationNovaPost": {
                  "description": "Объект идентификатор подключенного апи новой почты, если null повдение по умолчанию.",
                  "properties": {
                    "id": {
                      "description": "Идентификатор подключаемого апи новой почты, -1 для испотзования апи Юнипост.",
                      "example": "1|2|-1",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "novaPostParams": {
                  "description": "Параметры новой почты",
                  "properties": {
                    "ttn": {
                      "description": "Создать посылку на основе готовой (не распечатанной) ТТН новой почты. В данном варианте можно не передавать большую часть полей, необходимо передать только externalId, products, также можно указать комментарий",
                      "example": "20450295856502",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "products": {
                  "description": "товары",
                  "items": {
                    "properties": {
                      "product": {
                        "description": "Артикул магазина или Идентификатор в нашей системе",
                        "example": "DER124356 (Артикул магазина или Идентификатор в нашей системе)",
                        "type": "string"
                      },
                      "awaitingCount": {
                        "description": "Количество товаров в посылке",
                        "example": "10",
                        "type": "string"
                      },
                      "productData": {
                        "description": "Если товара у нас нет, (не смогли сопоставить по значению переданому в свойсте product то мы его созданим из этих данных)",
                        "required": [
                          "name",
                          "price",
                          "retailPrice",
                          "shopArticle"
                        ],
                        "properties": {
                          "name": {
                            "description": "Название товара",
                            "example": "Телефон",
                            "type": "string"
                          },
                          "weight": {
                            "description": "Вес (кг)",
                            "example": "1.00",
                            "type": "number"
                          },
                          "length": {
                            "description": "Длина (см)",
                            "example": "1.00",
                            "type": "number"
                          },
                          "width": {
                            "description": "Ширина (см)",
                            "example": "1.00",
                            "type": "number"
                          },
                          "height": {
                            "description": "Высота (см)",
                            "example": "1.00",
                            "type": "number"
                          },
                          "price": {
                            "description": "Цена",
                            "example": "1.00",
                            "type": "number"
                          },
                          "retailPrice": {
                            "description": "Розничная цена",
                            "example": "1.00",
                            "type": "number"
                          },
                          "article": {
                            "description": "Артикул",
                            "example": "DF456F56",
                            "type": "string"
                          },
                          "shopArticle": {
                            "description": "Артикул магазина",
                            "example": "2342DSr434",
                            "type": "string"
                          },
                          "barcode": {
                            "description": "Штрихкод товара",
                            "example": "2342DSr434",
                            "type": "string"
                          },
                          "brandName": {
                            "description": "Название бренда",
                            "example": "nike",
                            "type": "string"
                          },
                          "fragile": {
                            "description": "Хрупкий",
                            "example": "true|false",
                            "type": "boolean"
                          },
                          "danger": {
                            "description": "18+",
                            "example": "true|false",
                            "type": "boolean"
                          },
                          "needBox": {
                            "description": "Необходима упаковка",
                            "example": "true|false",
                            "type": "boolean"
                          },
                          "isDropshippingEnabled": {
                            "description": "Разрешить продажу дропшипперам",
                            "example": "true|false",
                            "type": "boolean"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                },
                "id": {
                  "description": "Идентификатор посылки",
                  "example": "1"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "error"
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/package/edit/{package}": {
      "post": {
        "summary": "Редактирование посылки",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "externalId",
                "declaredCost",
                "city",
                "shippingMethodId",
                "products",
                "officeId"
              ],
              "properties": {
                "externalId": {
                  "title": "ID посылки в вашей CMS",
                  "example": "D34G56f",
                  "type": "string"
                },
                "weight": {
                  "description": "Вес (кг)",
                  "example": "1.00",
                  "type": "number"
                },
                "length": {
                  "description": "Длина (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "width": {
                  "description": "Ширина (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "height": {
                  "description": "Высота (см)",
                  "example": "1.00",
                  "type": "number"
                },
                "declaredCost": {
                  "description": "Оценочная стоимость",
                  "example": "1.00",
                  "type": "number"
                },
                "cod": {
                  "description": "Наложенный платеж",
                  "example": "1.00",
                  "type": "number"
                },
                "officeId": {
                  "description": "Id почтового отделения службы доставки",
                  "example": "1",
                  "type": "integer"
                },
                "shippingMethodId": {
                  "description": "Идентификатор способа доставки",
                  "example": "1",
                  "type": "integer"
                },
                "city": {
                  "description": "Идентификатор города",
                  "example": "1",
                  "type": "integer"
                },
                "street": {
                  "description": "Улица",
                  "example": "Харьковская",
                  "type": "string"
                },
                "house": {
                  "description": "Номер дома",
                  "example": "1",
                  "type": "string"
                },
                "apartment": {
                  "description": "Офис/Квартира",
                  "example": "1",
                  "type": "string"
                },
                "firstName": {
                  "description": "Имя",
                  "example": "Василий",
                  "type": "string"
                },
                "lastName": {
                  "description": "Фамилия",
                  "example": "Пупкин",
                  "type": "string"
                },
                "middleName": {
                  "description": "Отчество",
                  "example": "Иванов",
                  "type": "string"
                },
                "edrpou": {
                  "example": "Код ЄДРПОУ/РНОКПП. Для отправки на Юр. Лицо",
                  "type": "string"
                },
                "phone": {
                  "description": "Телефон",
                  "example": "+380665643567",
                  "type": "string"
                },
                "email": {
                  "description": "Email",
                  "example": "pupkin@gmail.com",
                  "type": "string"
                },
                "comment": {
                  "description": "Комментарий",
                  "example": "Комментарий",
                  "type": "string"
                },
                "whoIsPaid": {
                  "description": "Кто платильщик доставки",
                  "example": "recipient|sender",
                  "type": "string"
                },
                "integrationNovaPost": {
                  "description": "Объект идентификатор подключенного апи новой почты, если null повдение по умолчанию.",
                  "properties": {
                    "id": {
                      "description": "Идентификатор подключаемого апи новой почты, -1 для испотзования апи Юнипост.",
                      "example": "1|2|-1",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "products": {
                  "description": "товары",
                  "items": {
                    "required": [
                      "product",
                      "awaitingCount"
                    ],
                    "properties": {
                      "product": {
                        "description": "Артикул магазина или Идентификатор в нашей системе",
                        "example": "DER124356 (Артикул магазина или Идентификатор в нашей системе)",
                        "type": "string"
                      },
                      "awaitingCount": {
                        "description": "Количество товаров в посылке",
                        "example": "10",
                        "type": "string"
                      },
                      "productData": {
                        "description": "Если товара у нас нет, (не смогли сопоставить по значению переданому в свойсте product то мы его созданим из этих данных)",
                        "required": [
                          "name",
                          "price",
                          "retailPrice",
                          "shopArticle"
                        ],
                        "properties": {
                          "name": {
                            "description": "Название товара",
                            "example": "Телефон",
                            "type": "string"
                          },
                          "weight": {
                            "description": "Вес (кг)",
                            "example": "1.00",
                            "type": "number"
                          },
                          "length": {
                            "description": "Длина (см)",
                            "example": "1.00",
                            "type": "number"
                          },
                          "width": {
                            "description": "Ширина (см)",
                            "example": "1.00",
                            "type": "number"
                          },
                          "height": {
                            "description": "Высота (см)",
                            "example": "1.00",
                            "type": "number"
                          },
                          "price": {
                            "description": "Цена",
                            "example": "1.00",
                            "type": "number"
                          },
                          "retailPrice": {
                            "description": "Розничная цена",
                            "example": "1.00",
                            "type": "number"
                          },
                          "article": {
                            "description": "Артикул",
                            "example": "DF456F56",
                            "type": "string"
                          },
                          "shopArticle": {
                            "description": "Артикул магазина",
                            "example": "2342DSr434",
                            "type": "string"
                          },
                          "barcode": {
                            "description": "Штрихкод товара",
                            "example": "2342DSr434",
                            "type": "string"
                          },
                          "brandName": {
                            "description": "Название бренда",
                            "example": "nike",
                            "type": "string"
                          },
                          "fragile": {
                            "description": "Хрупкий",
                            "example": "true|false",
                            "type": "boolean"
                          },
                          "danger": {
                            "description": "18+",
                            "example": "true|false",
                            "type": "boolean"
                          },
                          "needBox": {
                            "description": "Необходима упаковка",
                            "example": "true|false",
                            "type": "boolean"
                          },
                          "isDropshippingEnabled": {
                            "description": "Разрешить продажу дропшипперам",
                            "example": "true|false",
                            "type": "boolean"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                },
                "id": {
                  "description": "Идентификатор посылки",
                  "example": "1"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "error"
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/package/{package}/add_files": {
      "post": {
        "summary": "Добавить файлы в посылку.",
        "description": "Доступные форматы файлов для загрузки: pdf, png, jpeg, jpg, gif",
        "parameters": [
          {
            "name": "files[0][image]",
            "in": "formData",
            "required": true,
            "description": "Масив файлов",
            "type": "file"
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "errors",
            "schema": {
              "properties": {
                "errors": {
                  "example": "[]"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/package/{package}/remove": {
      "delete": {
        "summary": "Удалить посылку",
        "description": "Доступные статусы для удаления Новая и Нехватает товара для сборки, в остальных случаях через связь с менеджером",
        "parameters": [
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "errors",
            "schema": {
              "properties": {
                "errors": {
                  "example": "[]"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/package/{package}/cancel": {
      "post": {
        "summary": "Отменить посылку",
        "description": "В плодь до статуса Готова к отправке, посылку можно отменить",
        "parameters": [
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "errors",
            "schema": {
              "properties": {
                "errors": {
                  "example": "[]"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v2/package/delivery-price": {
      "post": {
        "summary": "Предварительная стоимость доставки посылки",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "declaredCost",
                "city",
                "shippingMethodId",
                "products"
              ],
              "properties": {
                "shippingMethodId": {
                  "description": "Идентификатор способа доставки",
                  "example": "1",
                  "type": "integer"
                },
                "city": {
                  "description": "Идентификатор города",
                  "example": "1",
                  "type": "integer"
                },
                "declaredCost": {
                  "description": "Оценочная стоимость",
                  "example": "1.00",
                  "type": "number"
                },
                "cod": {
                  "description": "Наложенный платеж",
                  "example": "1.00",
                  "type": "number"
                },
                "products": {
                  "description": "товары",
                  "items": {
                    "properties": {
                      "product": {
                        "description": "Артикул магазина или Идентификатор в нашей системе",
                        "example": "DER124356 (Артикул магазина или Идентификатор в нашей системе)",
                        "type": "string"
                      },
                      "awaitingCount": {
                        "description": "Количество товаров в посылке",
                        "example": "10",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                },
                "price": {
                  "description": "Предварительная цена доставки, ГРН",
                  "example": "25.55"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "errors",
            "schema": {
              "properties": {
                "errors": {
                  "example": "[]"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "definitions": {
    "City": {
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "nameRu": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "district": {
          "type": "string"
        },
        "novaPostCode": {
          "type": "string"
        },
        "justinPostCode": {
          "type": "string"
        },
        "ukrPostCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Office": {
      "properties": {
        "coordinates": {
          "$ref": "#/definitions/Coordinates"
        },
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "city": {
          "$ref": "#/definitions/City"
        },
        "courier": {
          "$ref": "#/definitions/ShippingCourier"
        },
        "postCode": {
          "type": "string"
        },
        "data": {
          "title": "нативные данные отделения из апи служб доставки",
          "type": "object"
        }
      },
      "type": "object"
    },
    "FulfilmentProduct": {
      "properties": {
        "prefix": {
          "title": "Префикс ID",
          "example": "FP6993",
          "type": "string"
        },
        "brandName": {
          "title": "Название бренда",
          "type": "string"
        },
        "shopArticle": {
          "title": "Артикул магазина",
          "type": "string"
        },
        "totalCount": {
          "title": "Всего товаров на складе",
          "type": "integer"
        },
        "waitingTotalCount": {
          "title": "Всего ожидается товаров",
          "type": "integer"
        },
        "freeCount": {
          "title": "Всего товаров доступных для посылок (для продажи)",
          "type": "integer"
        },
        "shop_article": {
          "type": "string"
        },
        "id": {
          "title": "Идентификатор",
          "type": "integer"
        },
        "barcode": {
          "title": "штрих-код",
          "type": "string"
        },
        "article": {
          "title": "Артикул",
          "type": "string"
        },
        "name": {
          "title": "Название товара",
          "type": "string"
        },
        "length": {
          "title": "длина товара",
          "type": "number",
          "format": "float"
        },
        "height": {
          "title": "высота товара",
          "type": "number",
          "format": "float"
        },
        "width": {
          "title": "ширина товара",
          "type": "number",
          "format": "float"
        },
        "weight": {
          "title": "вес товара",
          "type": "number",
          "format": "float"
        },
        "price": {
          "$ref": "#/definitions/Money"
        },
        "retailPrice": {
          "$ref": "#/definitions/Money"
        },
        "fragile": {
          "title": "хрупкий",
          "type": "boolean"
        },
        "danger": {
          "title": "18+",
          "type": "boolean"
        },
        "need_box": {
          "title": "Нужна упаковка",
          "type": "boolean"
        },
        "created_at": {
          "title": "Дата создания",
          "example": "2020-07-22T15:32:41+03:00",
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "isDropshippingEnabled": {
          "title": "Разрешана продажа товара для дропшиперов",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "FulfilmentProduct2": {
      "properties": {
        "prefix": {
          "title": "Префикс ID",
          "example": "FP6993",
          "type": "string"
        },
        "brandName": {
          "title": "Название бренда",
          "type": "string"
        },
        "shopArticle": {
          "title": "Артикул магазина",
          "type": "string"
        },
        "totalCount": {
          "title": "Всего товаров на складе",
          "type": "integer"
        },
        "waitingTotalCount": {
          "title": "Всего ожидается товаров",
          "type": "integer"
        },
        "freeCount": {
          "title": "Всего товаров доступных для посылок (для продажи)",
          "type": "integer"
        },
        "arrivedCount": {
          "type": "integer"
        },
        "shop_article": {
          "type": "string"
        },
        "defectiveCount": {
          "type": "integer"
        },
        "id": {
          "title": "Идентификатор",
          "type": "integer"
        },
        "barcode": {
          "title": "штрих-код",
          "type": "string"
        },
        "article": {
          "title": "Артикул",
          "type": "string"
        },
        "name": {
          "title": "Название товара",
          "type": "string"
        },
        "length": {
          "title": "длина товара",
          "type": "number",
          "format": "float"
        },
        "height": {
          "title": "высота товара",
          "type": "number",
          "format": "float"
        },
        "width": {
          "title": "ширина товара",
          "type": "number",
          "format": "float"
        },
        "weight": {
          "title": "вес товара",
          "type": "number",
          "format": "float"
        },
        "price": {
          "$ref": "#/definitions/Money2"
        },
        "retailPrice": {
          "$ref": "#/definitions/Money2"
        },
        "fragile": {
          "title": "хрупкий",
          "type": "boolean"
        },
        "danger": {
          "title": "18+",
          "type": "boolean"
        },
        "need_box": {
          "title": "Нужна упаковка",
          "type": "boolean"
        },
        "created_at": {
          "title": "Дата создания",
          "example": "2020-07-22T15:32:41+03:00",
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "isDropshippingEnabled": {
          "title": "Разрешана продажа товара для дропшиперов",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "FulfilmentShipment": {
      "properties": {
        "status": {
          "title": "Статус поставки",
          "type": "string",
          "enum": [
            "new",
            "removed",
            "accepted",
            "denied",
            "attention-not-required",
            "attention-required"
          ]
        },
        "prefix": {
          "type": "string"
        },
        "id": {
          "title": "Идентификатор поставки",
          "example": 1,
          "type": "integer"
        },
        "created_at": {
          "title": "Дата создания поставки",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "arrived_at": {
          "title": "Дата прибытия поставки",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "awaiting_count": {
          "title": "Всего видов товаров которые ожидаем по поставке",
          "type": "integer"
        },
        "arrived_count": {
          "title": "Всего видов товаров которые прибыли по поставке",
          "type": "integer"
        },
        "awaiting_product_count": {
          "title": "Всего всех товаров которые ожидаем по поставке",
          "type": "integer"
        },
        "arrived_product_count": {
          "title": "Всего всех товаров которые прибыли в поставке",
          "type": "integer"
        },
        "comment": {
          "title": "Комментарий",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FulfilmentShipment2": {
      "properties": {
        "status": {
          "title": "Статус поставки",
          "type": "string",
          "enum": [
            "new",
            "removed",
            "accepted",
            "denied",
            "attention-not-required",
            "attention-required"
          ]
        },
        "prefix": {
          "type": "string"
        },
        "id": {
          "title": "Идентификатор поставки",
          "example": 1,
          "type": "integer"
        },
        "created_at": {
          "title": "Дата создания поставки",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "arrived_at": {
          "title": "Дата прибытия поставки",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "shipment_products": {
          "title": "Товары в поставке",
          "items": {
            "$ref": "#/definitions/FulfilmentShipmentProduct"
          },
          "type": "array"
        },
        "awaiting_count": {
          "title": "Всего видов товаров которые ожидаем по поставке",
          "type": "integer"
        },
        "arrived_count": {
          "title": "Всего видов товаров которые прибыли по поставке",
          "type": "integer"
        },
        "awaiting_product_count": {
          "title": "Всего всех товаров которые ожидаем по поставке",
          "type": "integer"
        },
        "arrived_product_count": {
          "title": "Всего всех товаров которые прибыли в поставке",
          "type": "integer"
        },
        "comment": {
          "title": "Комментарий",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Package": {
      "properties": {
        "status": {
          "title": "Статус посылки",
          "type": "string",
          "enum": [
            "waiting-collected",
            "waiting-products",
            "need-confirm",
            "new",
            "in-progress",
            "packed",
            "prepared-to-send",
            "sent",
            "handed",
            "delivered",
            "removed",
            "returned",
            "lost",
            "unpack"
          ]
        },
        "actualDeliveryCost": {
          "title": "Актуальная цена доставки",
          "description": "Может меняться в процессе редактирования посылки",
          "type": "number"
        },
        "prefix": {
          "title": "Prefix id",
          "example": "RP9568",
          "type": "string"
        },
        "id": {
          "description": "Id товара",
          "type": "integer"
        },
        "created_at": {
          "description": "Дата создания товара",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "description": "Дата изминения товара",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "length": {
          "type": "number",
          "format": "float"
        },
        "width": {
          "type": "number",
          "format": "float"
        },
        "height": {
          "type": "number",
          "format": "float"
        },
        "external_id": {
          "type": "string"
        },
        "cod": {
          "type": "number",
          "format": "float"
        },
        "declared_cost": {
          "type": "number",
          "format": "float"
        },
        "is_need_confirm": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "who_is_paid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Package2": {
      "properties": {
        "status": {
          "title": "Статус посылки",
          "type": "string",
          "enum": [
            "waiting-collected",
            "waiting-products",
            "need-confirm",
            "new",
            "in-progress",
            "packed",
            "prepared-to-send",
            "sent",
            "handed",
            "delivered",
            "removed",
            "returned",
            "lost",
            "unpack"
          ]
        },
        "actualDeliveryCost": {
          "title": "Актуальная цена доставки",
          "description": "Может меняться в процессе редактирования посылки",
          "type": "number"
        },
        "prefix": {
          "title": "Prefix id",
          "example": "RP9568",
          "type": "string"
        },
        "tracking": {
          "$ref": "#/definitions/PackageTrackingDTO"
        },
        "id": {
          "description": "Id товара",
          "type": "integer"
        },
        "created_at": {
          "description": "Дата создания товара",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "description": "Дата изминения товара",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "length": {
          "type": "number",
          "format": "float"
        },
        "width": {
          "type": "number",
          "format": "float"
        },
        "height": {
          "type": "number",
          "format": "float"
        },
        "external_id": {
          "type": "string"
        },
        "cod": {
          "type": "number",
          "format": "float"
        },
        "declared_cost": {
          "type": "number",
          "format": "float"
        },
        "is_need_confirm": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "fulfilment_package_products": {
          "$ref": "#/definitions/FulfilmentPackageProduct"
        },
        "who_is_paid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Coordinates": {
      "properties": {
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ShippingCourier": {
      "properties": {
        "slug": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Money": {
      "properties": {
        "amount": {
          "title": "Internal value.",
          "type": "string"
        },
        "currency": {
          "$ref": "#/definitions/Currency"
        }
      },
      "type": "object"
    },
    "Money2": {
      "properties": {
        "amount": {
          "title": "Internal value.",
          "type": "string"
        },
        "currency": {
          "$ref": "#/definitions/Currency2"
        }
      },
      "type": "object"
    },
    "FulfilmentShipmentProduct": {
      "properties": {
        "id": {
          "title": "Идентификатор",
          "type": "integer"
        },
        "product": {
          "$ref": "#/definitions/FulfilmentProduct2"
        },
        "awaiting_count": {
          "title": "Ожидаем товаров",
          "type": "integer"
        },
        "arrived_count": {
          "title": "Прибыло товаров",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PackageTrackingDTO": {
      "properties": {
        "tracking": {
          "title": "ТТН курерской службы",
          "type": "string"
        },
        "courierSlug": {
          "title": "Тип курерской службы",
          "type": "string",
          "enum": [
            "nova-post",
            "ukr-post",
            "justin"
          ]
        },
        "checkpoint": {
          "$ref": "#/definitions/PackageTrackingCheckpointDTO"
        }
      },
      "type": "object"
    },
    "FulfilmentPackageProduct": {
      "properties": {
        "id": {
          "type": "integer"
        },
        "product": {
          "$ref": "#/definitions/FulfilmentProduct2"
        },
        "need_count": {
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Currency": {
      "properties": {
        "code": {
          "title": "Currency code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Currency2": {
      "properties": {
        "code": {
          "title": "Currency code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PackageTrackingCheckpointDTO": {
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "string"
        },
        "date": {
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "name": "Authorization",
      "type": "apiKey",
      "in": "header",
      "description": "Value: Bearer {jwt}"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}