{
  "swagger": "2.0",
  "info": {
    "title": "\u042e\u043d\u0438\u043f\u043e\u0441\u0442",
    "description": "\u0423\u0434\u043e\u0431\u043d\u044b\u0439 \u0444\u0443\u043b\u0444\u0438\u043b\u043c\u0435\u043d\u0442 \u0434\u043b\u044f \u0438\u043d\u0442\u0435\u0440\u043d\u0435\u0442-\u043c\u0430\u0433\u0430\u0437\u0438\u043d\u043e\u0432.",
    "version": "2.0.0"
  },
  "host": "my.unipost.com.ua",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "\/api\/v2\/directory\/city\/list": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u0433\u043e\u0440\u043e\u0434\u043e\u0432",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u0430",
            "type": "integer"
          },
          {
            "name": "search",
            "in": "query",
            "description": "\u0421\u0442\u0440\u043e\u043a\u0430 \u0434\u043b\u044f \u043f\u043e\u0438\u0441\u043a\u0430",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0433\u043e\u0440\u043e\u0434\u043e\u0432",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043f\u043e \u0434\u0430\u043d\u043d\u043e\u0439 \u0432\u044b\u0431\u043e\u0440\u043a\u0435",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446",
                  "type": "integer"
                },
                "items": {
                  "description": "\u0421\u043f\u0438\u0441\u043a\u043e\u043a \u0433\u043e\u0440\u043e\u0434\u043e\u0432",
                  "items": {
                    "$ref": "#\/definitions\/City"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Directories"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/directory\/shipping-method\/list": {
      "get": {
        "summary": "\u0421\u043f\u043e\u0441\u043e\u0431\u044b \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u0430",
            "type": "integer",
            "default": "1"
          },
          {
            "name": "cityId",
            "in": "query",
            "description": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0435 \u043c\u0435\u0442\u043e\u0434\u044b \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438 \u0434\u043b\u044f \u0433\u043e\u0440\u043e\u0434\u0430",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0441\u043f\u043e\u0441\u043e\u0431\u043e\u0432 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438 (\u0441\u043b\u0443\u0436\u0431\u044b \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438)",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043f\u043e \u0434\u0430\u043d\u043d\u043e\u0439 \u0432\u044b\u0431\u043e\u0440\u043a\u0435",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446",
                  "type": "integer"
                },
                "items": {
                  "description": "\u0421\u043f\u0438\u0441\u043a\u043e\u043a \u043c\u0435\u0442\u043e\u0434\u043e\u0432",
                  "items": {
                    "properties": {
                      "id": {
                        "example": "1",
                        "type": "integer"
                      },
                      "mane": {
                        "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435",
                        "example": "\u041d\u043e\u0432\u0430\u044f \u043f\u043e\u0447\u0442\u0430. \u041e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u0435",
                        "type": "string"
                      },
                      "type": {
                        "description": "\u0442\u0438\u043f \u0441\u043b\u0443\u0436\u0431\u044b \u0434\u043e\u0441\u0442\u0430\u0432 \u043d\u0430\u043f\u0440\u0438\u043c\u0435\u0440 \u041d\u043e\u0432\u0430\u044f \u043f\u043e\u0447\u0442\u0430 \u0438\u043b\u0438 \u0414\u0436\u0430\u0441\u0442\u0438\u043d",
                        "example": "nova-post",
                        "type": "string"
                      },
                      "category": {
                        "description": "\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f \u043d\u0430\u043f\u0440\u0438\u043c\u0435\u0440 \u043d\u0430 \u043e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u0435 post-office \u0438\u043b\u0438 \u043a\u0443\u0440\u0435\u0440 \u043f\u043e \u0430\u0434\u0440\u0435\u0441\u0443 to-door",
                        "example": "post-office",
                        "type": "string"
                      },
                      "created_at": {
                        "example": "2021-02-26T13:11:27+02:00",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Directories"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/directory\/post-office\/list": {
      "get": {
        "summary": "\u041e\u0444\u0438\u0441\u044b \u0441\u043b\u0443\u0436\u0431 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u0430",
            "type": "integer",
            "default": "1"
          },
          {
            "name": "cityId",
            "in": "query",
            "description": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0435 \u043e\u0444\u0438\u0441\u044b \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438 \u0434\u043b\u044f \u0433\u043e\u0440\u043e\u0434\u0430",
            "type": "integer"
          },
          {
            "name": "shippingMethodId",
            "in": "query",
            "description": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0435 \u043e\u0444\u0438\u0441\u044b \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438 \u0434\u043b\u044f \u043c\u0435\u0442\u043e\u0434\u0430 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u043e\u0444\u0438\u0441\u043e\u0432 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438 (\u043e\u0444\u0438\u0441\u044b \u0441\u043b\u0443\u0436\u0431\u044b \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438)",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043f\u043e \u0434\u0430\u043d\u043d\u043e\u0439 \u0432\u044b\u0431\u043e\u0440\u043a\u0435",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446",
                  "type": "integer"
                },
                "items": {
                  "description": "\u0421\u043f\u0438\u0441\u043a\u043e\u043a \u043e\u0444\u0438\u0441\u043e\u0432",
                  "items": {
                    "$ref": "#\/definitions\/Office"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Directories"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/product\/list": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u0442\u043e\u0432\u0430\u0440\u043e\u0432.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "\u041c\u043e\u0436\u043d\u043e \u0438\u0441\u043a\u0430\u0442\u044c \u043f\u043e \u0442\u0430\u043a\u0438\u043c \u043f\u043e\u043b\u044f\u043c \u043a\u0430\u043a \u0027name\u0027, \u0027article\u0027, \u0027shopArticle\u0027, \u0027barcode\u0027",
            "type": "string"
          },
          {
            "name": "article",
            "in": "query",
            "description": "\u041f\u043e\u0438\u0441\u043a \u043f\u043e \u043f\u043e\u043b\u044e \u0027article\u0027",
            "type": "string"
          },
          {
            "name": "shopArticle",
            "in": "query",
            "description": "\u041f\u043e\u0438\u0441\u043a \u043f\u043e \u043f\u043e\u043b\u044e \u0027shopArticle\u0027",
            "type": "string"
          },
          {
            "name": "barcode",
            "in": "query",
            "description": "\u041f\u043e\u0438\u0441\u043a \u043f\u043e \u043f\u043e\u043b\u044e \u0027barcode\u0027",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "\u041f\u043e\u0438\u0441\u043a \u043f\u043e \u043f\u043e\u043b\u044e \u0027name\u0027",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b",
            "type": "integer",
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043f\u043e \u0434\u0430\u043d\u043d\u043e\u0439 \u0432\u044b\u0431\u043e\u0440\u043a\u0435",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446",
                  "type": "integer"
                },
                "items": {
                  "description": "\u0421\u043f\u0438\u0441\u043a\u043e\u043a \u0442\u043e\u0432\u0430\u0440\u043e\u0432",
                  "items": {
                    "$ref": "#\/definitions\/FulfilmentProduct"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Product"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/product\/view\/{product}": {
      "get": {
        "summary": "\u041f\u0440\u043e\u0441\u043c\u043e\u0442\u0440 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0442\u043e\u0432\u0430\u0440\u0435.",
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u043a\u043e\u043d\u0435\u043a\u0440\u0435\u0442\u043d\u043e\u043c \u0442\u043e\u0432\u0430\u0440\u0435",
            "schema": {
              "$ref": "#\/definitions\/FulfilmentProduct2"
            }
          }
        },
        "tags": [
          "Product"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/product\/create": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u0442\u044c \u043d\u043e\u0432\u044b\u0439 \u043f\u0440\u043e\u0434\u0443\u043a\u0442",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "name",
                "price",
                "retailPrice",
                "shopArticle"
              ],
              "properties": {
                "name": {
                  "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430",
                  "example": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d",
                  "type": "string"
                },
                "weight": {
                  "description": "\u0412\u0435\u0441 (\u043a\u0433)",
                  "example": "1.00",
                  "type": "float"
                },
                "length": {
                  "description": "\u0414\u043b\u0438\u043d\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "width": {
                  "description": "\u0428\u0438\u0440\u0438\u043d\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "height": {
                  "description": "\u0412\u044b\u0441\u043e\u0442\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "price": {
                  "description": "\u0426\u0435\u043d\u0430",
                  "example": "1.00",
                  "type": "float"
                },
                "retailPrice": {
                  "description": "\u0420\u043e\u0437\u043d\u0438\u0447\u043d\u0430\u044f \u0446\u0435\u043d\u0430",
                  "example": "1.00",
                  "type": "float"
                },
                "article": {
                  "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
                  "example": "DF456F56",
                  "type": "string"
                },
                "shopArticle": {
                  "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430",
                  "example": "2342DSr434",
                  "type": "string"
                },
                "barcode": {
                  "description": "\u0428\u0442\u0440\u0438\u0445\u043a\u043e\u0434 \u0442\u043e\u0432\u0430\u0440\u0430",
                  "example": "2342DSr434",
                  "type": "string"
                },
                "brandName": {
                  "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0431\u0440\u0435\u043d\u0434\u0430",
                  "example": "nike",
                  "type": "string"
                },
                "fragile": {
                  "description": "\u0425\u0440\u0443\u043f\u043a\u0438\u0439",
                  "example": "true|false",
                  "type": "bool"
                },
                "danger": {
                  "description": "18+",
                  "example": "true|false",
                  "type": "bool"
                },
                "needBox": {
                  "description": "\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u0430 \u0443\u043f\u0430\u043a\u043e\u0432\u043a\u0430",
                  "example": "true|false",
                  "type": "bool"
                },
                "isDropshippingEnabled": {
                  "description": "\u0420\u0430\u0437\u0440\u0435\u0448\u0438\u0442\u044c \u043f\u0440\u043e\u0434\u0430\u0436\u0443 \u0434\u0440\u043e\u043f\u0448\u0438\u043f\u043f\u0435\u0440\u0430\u043c",
                  "example": "true|false",
                  "type": "bool"
                }
              },
              "type": "object"
            },
            "type": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "422": {
            "description": "error"
          }
        },
        "tags": [
          "Product"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/product\/update\/{product}": {
      "post": {
        "summary": "\u041e\u0431\u043d\u043e\u0432\u0438\u0442\u044c \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b \u0442\u043e\u0432\u0430\u0440\u0430",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "\u041f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u0430, \u043c\u043e\u0436\u043d\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e \u0442\u0435 \u0447\u0442\u043e \u043d\u0443\u0436\u043d\u043e \u0438\u0437\u043c\u0435\u043d\u0438\u0442\u044c",
            "schema": {
              "required": [],
              "properties": {
                "name": {
                  "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430",
                  "example": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d",
                  "type": "string"
                },
                "weight": {
                  "description": "\u0412\u0435\u0441 (\u043a\u0433)",
                  "example": "1.00",
                  "type": "float"
                },
                "length": {
                  "description": "\u0414\u043b\u0438\u043d\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "width": {
                  "description": "\u0428\u0438\u0440\u0438\u043d\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "height": {
                  "description": "\u0412\u044b\u0441\u043e\u0442\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "price": {
                  "description": "\u0426\u0435\u043d\u0430",
                  "example": "1.00",
                  "type": "float"
                },
                "retailPrice": {
                  "description": "\u0420\u043e\u0437\u043d\u0438\u0447\u043d\u0430\u044f \u0446\u0435\u043d\u0430",
                  "example": "1.00",
                  "type": "float"
                },
                "article": {
                  "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
                  "example": "DF456F56",
                  "type": "string"
                },
                "shopArticle": {
                  "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430",
                  "example": "2342DSr434",
                  "type": "string"
                },
                "barcode": {
                  "description": "\u0428\u0442\u0440\u0438\u0445\u043a\u043e\u0434 \u0442\u043e\u0432\u0430\u0440\u0430",
                  "example": "2342DSr434",
                  "type": "string"
                },
                "brandName": {
                  "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0431\u0440\u0435\u043d\u0434\u0430",
                  "example": "nike",
                  "type": "string"
                },
                "fragile": {
                  "description": "\u0425\u0440\u0443\u043f\u043a\u0438\u0439",
                  "example": "true|false",
                  "type": "bool"
                },
                "danger": {
                  "description": "18+",
                  "example": "true|false",
                  "type": "bool"
                },
                "needBox": {
                  "description": "\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u0430 \u0443\u043f\u0430\u043a\u043e\u0432\u043a\u0430",
                  "example": "true|false",
                  "type": "bool"
                },
                "isDropshippingEnabled": {
                  "description": "\u0420\u0430\u0437\u0440\u0435\u0448\u0438\u0442\u044c \u043f\u0440\u043e\u0434\u0430\u0436\u0443 \u0434\u0440\u043e\u043f\u0448\u0438\u043f\u043f\u0435\u0440\u0430\u043c",
                  "example": "true|false",
                  "type": "bool"
                }
              },
              "type": "object"
            },
            "type": "json"
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "422": {
            "description": "error"
          }
        },
        "tags": [
          "Product"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/shipment\/list": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u043f\u043e\u0441\u0442\u0430\u0432\u043e\u043a",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b",
            "type": "integer",
            "default": "1"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "\u0421\u043e\u0437\u0434\u0430\u043d\u043d\u044b\u0435 \u043d\u0430\u0447\u0438\u043d\u0430\u044f \u0441 \u044d\u0442\u043e\u0439 \u0434\u0430\u0442\u044b",
            "type": "string",
            "format": "2020-09-21"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "\u0421\u043e\u0437\u0434\u0430\u043d\u043d\u044b\u0435 \u0437\u0430\u043a\u0430\u043d\u0447\u0438\u0432\u0430\u044f \u044d\u0442\u043e\u0439 \u0434\u0430\u0442\u043e\u0439",
            "type": "string",
            "format": "2020-09-31"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u043f\u043e\u0441\u0442\u0430\u0432\u043e\u043a \u043d\u0430 \u0441\u043a\u043b\u0430\u0434",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043f\u043e \u0434\u0430\u043d\u043d\u043e\u0439 \u0432\u044b\u0431\u043e\u0440\u043a\u0435",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446",
                  "type": "integer"
                },
                "items": {
                  "description": "\u0421\u043f\u0438\u0441\u043a\u043e\u043a \u043f\u043e\u0441\u0442\u0430\u0432\u043e\u043a",
                  "items": {
                    "$ref": "#\/definitions\/FulfilmentShipment"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Shipment"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/shipment\/view\/{shipment}": {
      "get": {
        "summary": "\u041f\u0440\u043e\u0441\u043c\u043e\u0442\u0440 \u0434\u0430\u043d\u043d\u044b\u0445 \u043e \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435.",
        "parameters": [
          {
            "name": "shipment",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u0439 \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435 \u043d\u0430 \u0441\u043a\u043b\u0430\u0434",
            "schema": {
              "$ref": "#\/definitions\/FulfilmentShipment2"
            }
          }
        },
        "tags": [
          "Shipment"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/shipment\/create": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u0442\u044c \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0443 \u043d\u0430 \u0441\u043a\u043b\u0430\u0434",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "shipmentProducts"
              ],
              "properties": {
                "comment": {
                  "description": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
                  "example": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
                  "type": "string"
                },
                "shipmentProducts": {
                  "items": {
                    "properties": {
                      "product": {
                        "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u0442\u043e\u0432\u0430\u0440\u0430|\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430!\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 \u043d\u0430\u0448\u0435\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u0435",
                        "example": "DER124356",
                        "type": "string"
                      },
                      "awaitingCount": {
                        "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043f\u043e\u0441\u044b\u043b\u043a\u0435",
                        "example": "10",
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "type": "object"
            },
            "type": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                },
                "id": {
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                  "example": "1"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "error",
            "schema": {
              "properties": {
                "errors": {
                  "items": {
                    "type": "string"
                  }
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Shipment"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/package\/list": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u043f\u043e\u0441\u044b\u043b\u043e\u043a",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b",
            "type": "integer",
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0412\u043e\u0432\u0437\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u043f\u043e\u0441\u044b\u043b\u043e\u043a",
            "schema": {
              "properties": {
                "currentPage": {
                  "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432",
                  "type": "integer"
                },
                "totalItemCount": {
                  "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043f\u043e \u0434\u0430\u043d\u043d\u043e\u0439 \u0432\u044b\u0431\u043e\u0440\u043a\u0435",
                  "type": "integer"
                },
                "totalPages": {
                  "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446",
                  "type": "integer"
                },
                "items": {
                  "description": "\u0421\u043f\u0438\u0441\u043a\u043e\u043a \u043f\u043e\u0441\u044b\u043b\u043e\u043a",
                  "items": {
                    "$ref": "#\/definitions\/Package"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "error"
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/package\/view\/{package}": {
      "get": {
        "summary": "\u0414\u0430\u043d\u043d\u044b\u0435 \u043e \u043f\u043e\u0441\u044b\u043b\u043a\u0435.",
        "parameters": [
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0412\u043e\u0432\u0437\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u043f\u043e\u0441\u044b\u043b\u043e\u043a",
            "schema": {
              "$ref": "#\/definitions\/Package2"
            }
          },
          "404": {
            "description": "error"
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/package\/create": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "externalId",
                "declaredCost",
                "city",
                "shippingMethodId",
                "products",
                "officeId"
              ],
              "properties": {
                "externalId": {
                  "title": "ID \u043f\u043e\u0441\u044b\u043b\u043a\u0438 \u0432 \u0432\u0430\u0448\u0435\u0439 CMS",
                  "example": "D34G56f",
                  "type": "string"
                },
                "weight": {
                  "description": "\u0412\u0435\u0441 (\u043a\u0433)",
                  "example": "1.00",
                  "type": "float"
                },
                "length": {
                  "description": "\u0414\u043b\u0438\u043d\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "width": {
                  "description": "\u0428\u0438\u0440\u0438\u043d\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "height": {
                  "description": "\u0412\u044b\u0441\u043e\u0442\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "declaredCost": {
                  "description": "\u041e\u0446\u0435\u043d\u043e\u0447\u043d\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c",
                  "example": "1.00",
                  "type": "float"
                },
                "cod": {
                  "description": "\u041d\u0430\u043b\u043e\u0436\u0435\u043d\u043d\u044b\u0439 \u043f\u043b\u0430\u0442\u0435\u0436",
                  "example": "1.00",
                  "type": "float"
                },
                "officeId": {
                  "description": "Id \u043f\u043e\u0447\u0442\u043e\u0432\u043e\u0433\u043e \u043e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u044f \u0441\u043b\u0443\u0436\u0431\u044b \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                  "example": "1",
                  "type": "integer"
                },
                "postOffice": {
                  "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0441\u043b\u0443\u0436\u0431\u044b \u0438 \u0430\u0434\u0440\u0435\u0441 \u0438\u043b\u0438 \u043d\u043e\u043c\u0435\u0440 \u043e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u044f, \u0434\u043b\u044f \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438, \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442\u0441\u044f \u043f\u0440\u0438 \u043a\u0430\u0441\u0442\u043e\u043c\u043d\u044b\u0445 \u043c\u0435\u0442\u043e\u0434\u0430\u0445 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438.",
                  "example": "Delivery, \u0421\u043a\u043b\u0430\u0434: \u041a\u0418\u0415\u0412-01",
                  "type": "string"
                },
                "shippingMethodId": {
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u043f\u043e\u0441\u043e\u0431\u0430 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                  "example": "1",
                  "type": "integer"
                },
                "city": {
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0433\u043e\u0440\u043e\u0434\u0430",
                  "example": "1",
                  "type": "integer"
                },
                "street": {
                  "description": "\u0423\u043b\u0438\u0446\u0430",
                  "example": "\u0425\u0430\u0440\u044c\u043a\u043e\u0432\u0441\u043a\u0430\u044f",
                  "type": "string"
                },
                "house": {
                  "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043c\u0430",
                  "example": "1",
                  "type": "string"
                },
                "apartment": {
                  "description": "\u041e\u0444\u0438\u0441\/\u041a\u0432\u0430\u0440\u0442\u0438\u0440\u0430",
                  "example": "1",
                  "type": "string"
                },
                "firstName": {
                  "description": "\u0418\u043c\u044f",
                  "example": "\u0412\u0430\u0441\u0438\u043b\u0438\u0439",
                  "type": "string"
                },
                "lastName": {
                  "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f",
                  "example": "\u041f\u0443\u043f\u043a\u0438\u043d",
                  "type": "string"
                },
                "middleName": {
                  "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e",
                  "example": "\u0418\u0432\u0430\u043d\u043e\u0432",
                  "type": "string"
                },
                "edrpou": {
                  "example": "\u041a\u043e\u0434 \u0404\u0414\u0420\u041f\u041e\u0423\/\u0420\u041d\u041e\u041a\u041f\u041f. \u0414\u043b\u044f \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0438 \u043d\u0430 \u042e\u0440. \u041b\u0438\u0446\u043e",
                  "type": "string"
                },
                "phone": {
                  "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d",
                  "example": "+380665643567",
                  "type": "string"
                },
                "email": {
                  "description": "Email",
                  "example": "pupkin@gmail.com",
                  "type": "string"
                },
                "comment": {
                  "description": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
                  "example": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
                  "type": "string"
                },
                "convenientDeliveredDatetime": {
                  "description": "\u0423\u0434\u043e\u0431\u043d\u043e\u0435 \u0434\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438. (\u0442\u043e\u043b\u044c\u043a\u043e \u0434\u043b\u044f \u0442\u0438\u043f\u0430 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438 IPOST)",
                  "example": "2020-12-25 23:59",
                  "type": "string"
                },
                "whoIsPaid": {
                  "description": "\u041a\u0442\u043e \u043f\u043b\u0430\u0442\u0438\u043b\u044c\u0449\u0438\u043a \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                  "example": "recipient|sender",
                  "type": "string"
                },
                "integrationNovaPost": {
                  "description": "\u041e\u0431\u044a\u0435\u043a\u0442 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u043d\u043e\u0433\u043e \u0430\u043f\u0438 \u043d\u043e\u0432\u043e\u0439 \u043f\u043e\u0447\u0442\u044b, \u0435\u0441\u043b\u0438 null \u043f\u043e\u0432\u0434\u0435\u043d\u0438\u0435 \u043f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e.",
                  "properties": {
                    "id": {
                      "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0430\u0435\u043c\u043e\u0433\u043e \u0430\u043f\u0438 \u043d\u043e\u0432\u043e\u0439 \u043f\u043e\u0447\u0442\u044b, -1 \u0434\u043b\u044f \u0438\u0441\u043f\u043e\u0442\u0437\u043e\u0432\u0430\u043d\u0438\u044f \u0430\u043f\u0438 \u042e\u043d\u0438\u043f\u043e\u0441\u0442.",
                      "example": "1|2|-1",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "novaPostParams": {
                  "description": "\u041f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b \u043d\u043e\u0432\u043e\u0439 \u043f\u043e\u0447\u0442\u044b",
                  "properties": {
                    "ttn": {
                      "description": "\u0421\u043e\u0437\u0434\u0430\u0442\u044c \u043f\u043e\u0441\u044b\u043b\u043a\u0443 \u043d\u0430 \u043e\u0441\u043d\u043e\u0432\u0435 \u0433\u043e\u0442\u043e\u0432\u043e\u0439 (\u043d\u0435 \u0440\u0430\u0441\u043f\u0435\u0447\u0430\u0442\u0430\u043d\u043d\u043e\u0439) \u0422\u0422\u041d \u043d\u043e\u0432\u043e\u0439 \u043f\u043e\u0447\u0442\u044b. \u0412 \u0434\u0430\u043d\u043d\u043e\u043c \u0432\u0430\u0440\u0438\u0430\u043d\u0442\u0435 \u043c\u043e\u0436\u043d\u043e \u043d\u0435 \u043f\u0435\u0440\u0435\u0434\u0430\u0432\u0430\u0442\u044c \u0431\u043e\u043b\u044c\u0448\u0443\u044e \u0447\u0430\u0441\u0442\u044c \u043f\u043e\u043b\u0435\u0439, \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e externalId, products, \u0442\u0430\u043a\u0436\u0435 \u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u0430\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
                      "example": "20450295856502",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "products": {
                  "description": "\u0442\u043e\u0432\u0430\u0440\u044b",
                  "items": {
                    "properties": {
                      "product": {
                        "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430 \u0438\u043b\u0438 \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 \u043d\u0430\u0448\u0435\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u0435",
                        "example": "DER124356 (\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430 \u0438\u043b\u0438 \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 \u043d\u0430\u0448\u0435\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u0435)",
                        "type": "string"
                      },
                      "awaitingCount": {
                        "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043f\u043e\u0441\u044b\u043b\u043a\u0435",
                        "example": "10",
                        "type": "string"
                      },
                      "productData": {
                        "description": "\u0415\u0441\u043b\u0438 \u0442\u043e\u0432\u0430\u0440\u0430 \u0443 \u043d\u0430\u0441 \u043d\u0435\u0442, (\u043d\u0435 \u0441\u043c\u043e\u0433\u043b\u0438 \u0441\u043e\u043f\u043e\u0441\u0442\u0430\u0432\u0438\u0442\u044c \u043f\u043e \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044e \u043f\u0435\u0440\u0435\u0434\u0430\u043d\u043e\u043c\u0443 \u0432 \u0441\u0432\u043e\u0439\u0441\u0442\u0435 product \u0442\u043e \u043c\u044b \u0435\u0433\u043e \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u043c \u0438\u0437 \u044d\u0442\u0438\u0445 \u0434\u0430\u043d\u043d\u044b\u0445)",
                        "required": [
                          "name",
                          "price",
                          "retailPrice",
                          "shopArticle"
                        ],
                        "properties": {
                          "name": {
                            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430",
                            "example": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d",
                            "type": "string"
                          },
                          "weight": {
                            "description": "\u0412\u0435\u0441 (\u043a\u0433)",
                            "example": "1.00",
                            "type": "float"
                          },
                          "length": {
                            "description": "\u0414\u043b\u0438\u043d\u0430 (\u0441\u043c)",
                            "example": "1.00",
                            "type": "float"
                          },
                          "width": {
                            "description": "\u0428\u0438\u0440\u0438\u043d\u0430 (\u0441\u043c)",
                            "example": "1.00",
                            "type": "float"
                          },
                          "height": {
                            "description": "\u0412\u044b\u0441\u043e\u0442\u0430 (\u0441\u043c)",
                            "example": "1.00",
                            "type": "float"
                          },
                          "price": {
                            "description": "\u0426\u0435\u043d\u0430",
                            "example": "1.00",
                            "type": "float"
                          },
                          "retailPrice": {
                            "description": "\u0420\u043e\u0437\u043d\u0438\u0447\u043d\u0430\u044f \u0446\u0435\u043d\u0430",
                            "example": "1.00",
                            "type": "float"
                          },
                          "article": {
                            "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
                            "example": "DF456F56",
                            "type": "string"
                          },
                          "shopArticle": {
                            "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430",
                            "example": "2342DSr434",
                            "type": "string"
                          },
                          "barcode": {
                            "description": "\u0428\u0442\u0440\u0438\u0445\u043a\u043e\u0434 \u0442\u043e\u0432\u0430\u0440\u0430",
                            "example": "2342DSr434",
                            "type": "string"
                          },
                          "brandName": {
                            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0431\u0440\u0435\u043d\u0434\u0430",
                            "example": "nike",
                            "type": "string"
                          },
                          "fragile": {
                            "description": "\u0425\u0440\u0443\u043f\u043a\u0438\u0439",
                            "example": "true|false",
                            "type": "bool"
                          },
                          "danger": {
                            "description": "18+",
                            "example": "true|false",
                            "type": "bool"
                          },
                          "needBox": {
                            "description": "\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u0430 \u0443\u043f\u0430\u043a\u043e\u0432\u043a\u0430",
                            "example": "true|false",
                            "type": "bool"
                          },
                          "isDropshippingEnabled": {
                            "description": "\u0420\u0430\u0437\u0440\u0435\u0448\u0438\u0442\u044c \u043f\u0440\u043e\u0434\u0430\u0436\u0443 \u0434\u0440\u043e\u043f\u0448\u0438\u043f\u043f\u0435\u0440\u0430\u043c",
                            "example": "true|false",
                            "type": "bool"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "array"
                }
              },
              "type": "object"
            },
            "type": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                },
                "id": {
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
                  "example": "1"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "error"
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/package\/edit\/{package}": {
      "post": {
        "summary": "\u0420\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "externalId",
                "declaredCost",
                "city",
                "shippingMethodId",
                "products",
                "officeId"
              ],
              "properties": {
                "externalId": {
                  "title": "ID \u043f\u043e\u0441\u044b\u043b\u043a\u0438 \u0432 \u0432\u0430\u0448\u0435\u0439 CMS",
                  "example": "D34G56f",
                  "type": "string"
                },
                "weight": {
                  "description": "\u0412\u0435\u0441 (\u043a\u0433)",
                  "example": "1.00",
                  "type": "float"
                },
                "length": {
                  "description": "\u0414\u043b\u0438\u043d\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "width": {
                  "description": "\u0428\u0438\u0440\u0438\u043d\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "height": {
                  "description": "\u0412\u044b\u0441\u043e\u0442\u0430 (\u0441\u043c)",
                  "example": "1.00",
                  "type": "float"
                },
                "declaredCost": {
                  "description": "\u041e\u0446\u0435\u043d\u043e\u0447\u043d\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c",
                  "example": "1.00",
                  "type": "float"
                },
                "cod": {
                  "description": "\u041d\u0430\u043b\u043e\u0436\u0435\u043d\u043d\u044b\u0439 \u043f\u043b\u0430\u0442\u0435\u0436",
                  "example": "1.00",
                  "type": "float"
                },
                "officeId": {
                  "description": "Id \u043f\u043e\u0447\u0442\u043e\u0432\u043e\u0433\u043e \u043e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u044f \u0441\u043b\u0443\u0436\u0431\u044b \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                  "example": "1",
                  "type": "integer"
                },
                "shippingMethodId": {
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u043f\u043e\u0441\u043e\u0431\u0430 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                  "example": "1",
                  "type": "integer"
                },
                "city": {
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0433\u043e\u0440\u043e\u0434\u0430",
                  "example": "1",
                  "type": "integer"
                },
                "street": {
                  "description": "\u0423\u043b\u0438\u0446\u0430",
                  "example": "\u0425\u0430\u0440\u044c\u043a\u043e\u0432\u0441\u043a\u0430\u044f",
                  "type": "string"
                },
                "house": {
                  "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043c\u0430",
                  "example": "1",
                  "type": "string"
                },
                "apartment": {
                  "description": "\u041e\u0444\u0438\u0441\/\u041a\u0432\u0430\u0440\u0442\u0438\u0440\u0430",
                  "example": "1",
                  "type": "string"
                },
                "firstName": {
                  "description": "\u0418\u043c\u044f",
                  "example": "\u0412\u0430\u0441\u0438\u043b\u0438\u0439",
                  "type": "string"
                },
                "lastName": {
                  "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f",
                  "example": "\u041f\u0443\u043f\u043a\u0438\u043d",
                  "type": "string"
                },
                "middleName": {
                  "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e",
                  "example": "\u0418\u0432\u0430\u043d\u043e\u0432",
                  "type": "string"
                },
                "edrpou": {
                  "example": "\u041a\u043e\u0434 \u0404\u0414\u0420\u041f\u041e\u0423\/\u0420\u041d\u041e\u041a\u041f\u041f. \u0414\u043b\u044f \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0438 \u043d\u0430 \u042e\u0440. \u041b\u0438\u0446\u043e",
                  "type": "string"
                },
                "phone": {
                  "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d",
                  "example": "+380665643567",
                  "type": "string"
                },
                "email": {
                  "description": "Email",
                  "example": "pupkin@gmail.com",
                  "type": "string"
                },
                "comment": {
                  "description": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
                  "example": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
                  "type": "string"
                },
                "whoIsPaid": {
                  "description": "\u041a\u0442\u043e \u043f\u043b\u0430\u0442\u0438\u043b\u044c\u0449\u0438\u043a \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                  "example": "recipient|sender",
                  "type": "string"
                },
                "integrationNovaPost": {
                  "description": "\u041e\u0431\u044a\u0435\u043a\u0442 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u043d\u043e\u0433\u043e \u0430\u043f\u0438 \u043d\u043e\u0432\u043e\u0439 \u043f\u043e\u0447\u0442\u044b, \u0435\u0441\u043b\u0438 null \u043f\u043e\u0432\u0434\u0435\u043d\u0438\u0435 \u043f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e.",
                  "properties": {
                    "id": {
                      "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0430\u0435\u043c\u043e\u0433\u043e \u0430\u043f\u0438 \u043d\u043e\u0432\u043e\u0439 \u043f\u043e\u0447\u0442\u044b, -1 \u0434\u043b\u044f \u0438\u0441\u043f\u043e\u0442\u0437\u043e\u0432\u0430\u043d\u0438\u044f \u0430\u043f\u0438 \u042e\u043d\u0438\u043f\u043e\u0441\u0442.",
                      "example": "1|2|-1",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "products": {
                  "description": "\u0442\u043e\u0432\u0430\u0440\u044b",
                  "items": {
                    "required": [
                      "product",
                      "awaitingCount"
                    ],
                    "properties": {
                      "product": {
                        "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430 \u0438\u043b\u0438 \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 \u043d\u0430\u0448\u0435\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u0435",
                        "example": "DER124356 (\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430 \u0438\u043b\u0438 \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 \u043d\u0430\u0448\u0435\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u0435)",
                        "type": "string"
                      },
                      "awaitingCount": {
                        "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043f\u043e\u0441\u044b\u043b\u043a\u0435",
                        "example": "10",
                        "type": "string"
                      },
                      "productData": {
                        "description": "\u0415\u0441\u043b\u0438 \u0442\u043e\u0432\u0430\u0440\u0430 \u0443 \u043d\u0430\u0441 \u043d\u0435\u0442, (\u043d\u0435 \u0441\u043c\u043e\u0433\u043b\u0438 \u0441\u043e\u043f\u043e\u0441\u0442\u0430\u0432\u0438\u0442\u044c \u043f\u043e \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044e \u043f\u0435\u0440\u0435\u0434\u0430\u043d\u043e\u043c\u0443 \u0432 \u0441\u0432\u043e\u0439\u0441\u0442\u0435 product \u0442\u043e \u043c\u044b \u0435\u0433\u043e \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u043c \u0438\u0437 \u044d\u0442\u0438\u0445 \u0434\u0430\u043d\u043d\u044b\u0445)",
                        "required": [
                          "name",
                          "price",
                          "retailPrice",
                          "shopArticle"
                        ],
                        "properties": {
                          "name": {
                            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430",
                            "example": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d",
                            "type": "string"
                          },
                          "weight": {
                            "description": "\u0412\u0435\u0441 (\u043a\u0433)",
                            "example": "1.00",
                            "type": "float"
                          },
                          "length": {
                            "description": "\u0414\u043b\u0438\u043d\u0430 (\u0441\u043c)",
                            "example": "1.00",
                            "type": "float"
                          },
                          "width": {
                            "description": "\u0428\u0438\u0440\u0438\u043d\u0430 (\u0441\u043c)",
                            "example": "1.00",
                            "type": "float"
                          },
                          "height": {
                            "description": "\u0412\u044b\u0441\u043e\u0442\u0430 (\u0441\u043c)",
                            "example": "1.00",
                            "type": "float"
                          },
                          "price": {
                            "description": "\u0426\u0435\u043d\u0430",
                            "example": "1.00",
                            "type": "float"
                          },
                          "retailPrice": {
                            "description": "\u0420\u043e\u0437\u043d\u0438\u0447\u043d\u0430\u044f \u0446\u0435\u043d\u0430",
                            "example": "1.00",
                            "type": "float"
                          },
                          "article": {
                            "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
                            "example": "DF456F56",
                            "type": "string"
                          },
                          "shopArticle": {
                            "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430",
                            "example": "2342DSr434",
                            "type": "string"
                          },
                          "barcode": {
                            "description": "\u0428\u0442\u0440\u0438\u0445\u043a\u043e\u0434 \u0442\u043e\u0432\u0430\u0440\u0430",
                            "example": "2342DSr434",
                            "type": "string"
                          },
                          "brandName": {
                            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0431\u0440\u0435\u043d\u0434\u0430",
                            "example": "nike",
                            "type": "string"
                          },
                          "fragile": {
                            "description": "\u0425\u0440\u0443\u043f\u043a\u0438\u0439",
                            "example": "true|false",
                            "type": "bool"
                          },
                          "danger": {
                            "description": "18+",
                            "example": "true|false",
                            "type": "bool"
                          },
                          "needBox": {
                            "description": "\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u0430 \u0443\u043f\u0430\u043a\u043e\u0432\u043a\u0430",
                            "example": "true|false",
                            "type": "bool"
                          },
                          "isDropshippingEnabled": {
                            "description": "\u0420\u0430\u0437\u0440\u0435\u0448\u0438\u0442\u044c \u043f\u0440\u043e\u0434\u0430\u0436\u0443 \u0434\u0440\u043e\u043f\u0448\u0438\u043f\u043f\u0435\u0440\u0430\u043c",
                            "example": "true|false",
                            "type": "bool"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "array"
                }
              },
              "type": "object"
            },
            "type": "json"
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                },
                "id": {
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
                  "example": "1"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "error"
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/package\/{package}\/add_files": {
      "post": {
        "summary": "\u0414\u043e\u0431\u0430\u0432\u0438\u0442\u044c \u0444\u0430\u0439\u043b\u044b \u0432 \u043f\u043e\u0441\u044b\u043b\u043a\u0443.",
        "description": "\u0414\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0435 \u0444\u043e\u0440\u043c\u0430\u0442\u044b \u0444\u0430\u0439\u043b\u043e\u0432 \u0434\u043b\u044f \u0437\u0430\u0433\u0440\u0443\u0437\u043a\u0438: pdf, png, jpeg, jpg, gif",
        "parameters": [
          {
            "name": "files[0][image]",
            "in": "formData",
            "required": true,
            "description": "\u041c\u0430\u0441\u0438\u0432 \u0444\u0430\u0439\u043b\u043e\u0432",
            "type": "file"
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "errors",
            "schema": {
              "properties": {
                "errors": {
                  "example": "[]"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/package\/{package}\/remove": {
      "delete": {
        "summary": "\u0423\u0434\u0430\u043b\u0438\u0442\u044c \u043f\u043e\u0441\u044b\u043b\u043a\u0443",
        "description": "\u0414\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u044b \u0434\u043b\u044f \u0443\u0434\u0430\u043b\u0435\u043d\u0438\u044f \u041d\u043e\u0432\u0430\u044f \u0438 \u041d\u0435\u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u0442\u043e\u0432\u0430\u0440\u0430 \u0434\u043b\u044f \u0441\u0431\u043e\u0440\u043a\u0438, \u0432 \u043e\u0441\u0442\u0430\u043b\u044c\u043d\u044b\u0445 \u0441\u043b\u0443\u0447\u0430\u044f\u0445 \u0447\u0435\u0440\u0435\u0437 \u0441\u0432\u044f\u0437\u044c \u0441 \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u043e\u043c",
        "parameters": [
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "errors",
            "schema": {
              "properties": {
                "errors": {
                  "example": "[]"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/package\/{package}\/cancel": {
      "post": {
        "summary": "\u041e\u0442\u043c\u0435\u043d\u0438\u0442\u044c \u043f\u043e\u0441\u044b\u043b\u043a\u0443",
        "description": "\u0412 \u043f\u043b\u043e\u0434\u044c \u0434\u043e \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u0413\u043e\u0442\u043e\u0432\u0430 \u043a \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0435, \u043f\u043e\u0441\u044b\u043b\u043a\u0443 \u043c\u043e\u0436\u043d\u043e \u043e\u0442\u043c\u0435\u043d\u0438\u0442\u044c",
        "parameters": [
          {
            "name": "package",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "errors",
            "schema": {
              "properties": {
                "errors": {
                  "example": "[]"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "\/api\/v2\/package\/delivery-price": {
      "post": {
        "summary": "\u041f\u0440\u0435\u0434\u0432\u0430\u0440\u0438\u0442\u0435\u043b\u044c\u043d\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438 \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json order object",
            "schema": {
              "required": [
                "declaredCost",
                "city",
                "shippingMethodId",
                "products"
              ],
              "properties": {
                "shippingMethodId": {
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u043f\u043e\u0441\u043e\u0431\u0430 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                  "example": "1",
                  "type": "integer"
                },
                "city": {
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0433\u043e\u0440\u043e\u0434\u0430",
                  "example": "1",
                  "type": "integer"
                },
                "declaredCost": {
                  "description": "\u041e\u0446\u0435\u043d\u043e\u0447\u043d\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c",
                  "example": "1.00",
                  "type": "float"
                },
                "cod": {
                  "description": "\u041d\u0430\u043b\u043e\u0436\u0435\u043d\u043d\u044b\u0439 \u043f\u043b\u0430\u0442\u0435\u0436",
                  "example": "1.00",
                  "type": "float"
                },
                "products": {
                  "description": "\u0442\u043e\u0432\u0430\u0440\u044b",
                  "items": {
                    "properties": {
                      "product": {
                        "description": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430 \u0438\u043b\u0438 \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 \u043d\u0430\u0448\u0435\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u0435",
                        "example": "DER124356 (\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430 \u0438\u043b\u0438 \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 \u043d\u0430\u0448\u0435\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u0435)",
                        "type": "string"
                      },
                      "awaitingCount": {
                        "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043f\u043e\u0441\u044b\u043b\u043a\u0435",
                        "example": "10",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              },
              "type": "object"
            },
            "type": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "status": {
                  "example": "ok"
                },
                "price": {
                  "description": "\u041f\u0440\u0435\u0434\u0432\u0430\u0440\u0438\u0442\u0435\u043b\u044c\u043d\u0430\u044f \u0446\u0435\u043d\u0430 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438, \u0413\u0420\u041d",
                  "example": "25.55"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "errors",
            "schema": {
              "properties": {
                "errors": {
                  "example": "[]"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Package"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "definitions": {
    "City": {
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "nameRu": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "district": {
          "type": "string"
        },
        "novaPostCode": {
          "type": "string"
        },
        "justinPostCode": {
          "type": "string"
        },
        "ukrPostCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Office": {
      "properties": {
        "coordinates": {
          "$ref": "#\/definitions\/Coordinates"
        },
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "city": {
          "$ref": "#\/definitions\/City"
        },
        "courier": {
          "$ref": "#\/definitions\/ShippingCourier"
        },
        "postCode": {
          "type": "string"
        },
        "data": {
          "title": "\u043d\u0430\u0442\u0438\u0432\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435 \u043e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u044f \u0438\u0437 \u0430\u043f\u0438 \u0441\u043b\u0443\u0436\u0431 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "type": "object"
        }
      },
      "type": "object"
    },
    "FulfilmentProduct": {
      "properties": {
        "prefix": {
          "title": "\u041f\u0440\u0435\u0444\u0438\u043a\u0441 ID",
          "example": "FP6993",
          "type": "string"
        },
        "brandName": {
          "title": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0431\u0440\u0435\u043d\u0434\u0430",
          "type": "string"
        },
        "shopArticle": {
          "title": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430",
          "type": "string"
        },
        "totalCount": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043d\u0430 \u0441\u043a\u043b\u0430\u0434\u0435",
          "type": "integer"
        },
        "waitingTotalCount": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u043e\u0436\u0438\u0434\u0430\u0435\u0442\u0441\u044f \u0442\u043e\u0432\u0430\u0440\u043e\u0432",
          "type": "integer"
        },
        "freeCount": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0445 \u0434\u043b\u044f \u043f\u043e\u0441\u044b\u043b\u043e\u043a (\u0434\u043b\u044f \u043f\u0440\u043e\u0434\u0430\u0436\u0438)",
          "type": "integer"
        },
        "shop_article": {
          "type": "string"
        },
        "id": {
          "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440",
          "type": "integer"
        },
        "barcode": {
          "title": "\u0448\u0442\u0440\u0438\u0445-\u043a\u043e\u0434",
          "type": "string"
        },
        "article": {
          "title": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
          "type": "string"
        },
        "name": {
          "title": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "string"
        },
        "length": {
          "title": "\u0434\u043b\u0438\u043d\u0430 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "number",
          "format": "float"
        },
        "height": {
          "title": "\u0432\u044b\u0441\u043e\u0442\u0430 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "number",
          "format": "float"
        },
        "width": {
          "title": "\u0448\u0438\u0440\u0438\u043d\u0430 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "number",
          "format": "float"
        },
        "weight": {
          "title": "\u0432\u0435\u0441 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "number",
          "format": "float"
        },
        "price": {
          "$ref": "#\/definitions\/Money"
        },
        "retailPrice": {
          "$ref": "#\/definitions\/Money"
        },
        "fragile": {
          "title": "\u0445\u0440\u0443\u043f\u043a\u0438\u0439",
          "type": "boolean"
        },
        "danger": {
          "title": "18+",
          "type": "boolean"
        },
        "need_box": {
          "title": "\u041d\u0443\u0436\u043d\u0430 \u0443\u043f\u0430\u043a\u043e\u0432\u043a\u0430",
          "type": "boolean"
        },
        "created_at": {
          "title": "\u0414\u0430\u0442\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f",
          "example": "2020-07-22T15:32:41+03:00",
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "isDropshippingEnabled": {
          "title": "\u0420\u0430\u0437\u0440\u0435\u0448\u0430\u043d\u0430 \u043f\u0440\u043e\u0434\u0430\u0436\u0430 \u0442\u043e\u0432\u0430\u0440\u0430 \u0434\u043b\u044f \u0434\u0440\u043e\u043f\u0448\u0438\u043f\u0435\u0440\u043e\u0432",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "FulfilmentProduct2": {
      "properties": {
        "prefix": {
          "title": "\u041f\u0440\u0435\u0444\u0438\u043a\u0441 ID",
          "example": "FP6993",
          "type": "string"
        },
        "brandName": {
          "title": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0431\u0440\u0435\u043d\u0434\u0430",
          "type": "string"
        },
        "shopArticle": {
          "title": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430",
          "type": "string"
        },
        "totalCount": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043d\u0430 \u0441\u043a\u043b\u0430\u0434\u0435",
          "type": "integer"
        },
        "waitingTotalCount": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u043e\u0436\u0438\u0434\u0430\u0435\u0442\u0441\u044f \u0442\u043e\u0432\u0430\u0440\u043e\u0432",
          "type": "integer"
        },
        "freeCount": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0445 \u0434\u043b\u044f \u043f\u043e\u0441\u044b\u043b\u043e\u043a (\u0434\u043b\u044f \u043f\u0440\u043e\u0434\u0430\u0436\u0438)",
          "type": "integer"
        },
        "arrivedCount": {
          "type": "integer"
        },
        "shop_article": {
          "type": "string"
        },
        "defectiveCount": {
          "type": "integer"
        },
        "id": {
          "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440",
          "type": "integer"
        },
        "barcode": {
          "title": "\u0448\u0442\u0440\u0438\u0445-\u043a\u043e\u0434",
          "type": "string"
        },
        "article": {
          "title": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
          "type": "string"
        },
        "name": {
          "title": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "string"
        },
        "length": {
          "title": "\u0434\u043b\u0438\u043d\u0430 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "number",
          "format": "float"
        },
        "height": {
          "title": "\u0432\u044b\u0441\u043e\u0442\u0430 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "number",
          "format": "float"
        },
        "width": {
          "title": "\u0448\u0438\u0440\u0438\u043d\u0430 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "number",
          "format": "float"
        },
        "weight": {
          "title": "\u0432\u0435\u0441 \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "number",
          "format": "float"
        },
        "price": {
          "$ref": "#\/definitions\/Money2"
        },
        "retailPrice": {
          "$ref": "#\/definitions\/Money2"
        },
        "fragile": {
          "title": "\u0445\u0440\u0443\u043f\u043a\u0438\u0439",
          "type": "boolean"
        },
        "danger": {
          "title": "18+",
          "type": "boolean"
        },
        "need_box": {
          "title": "\u041d\u0443\u0436\u043d\u0430 \u0443\u043f\u0430\u043a\u043e\u0432\u043a\u0430",
          "type": "boolean"
        },
        "created_at": {
          "title": "\u0414\u0430\u0442\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f",
          "example": "2020-07-22T15:32:41+03:00",
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "isDropshippingEnabled": {
          "title": "\u0420\u0430\u0437\u0440\u0435\u0448\u0430\u043d\u0430 \u043f\u0440\u043e\u0434\u0430\u0436\u0430 \u0442\u043e\u0432\u0430\u0440\u0430 \u0434\u043b\u044f \u0434\u0440\u043e\u043f\u0448\u0438\u043f\u0435\u0440\u043e\u0432",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "FulfilmentShipment": {
      "properties": {
        "status": {
          "title": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "type": "string",
          "enum": [
            "new",
            "removed",
            "accepted",
            "denied",
            "attention-not-required",
            "attention-required"
          ]
        },
        "prefix": {
          "type": "string"
        },
        "id": {
          "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "example": 1,
          "type": "integer"
        },
        "created_at": {
          "title": "\u0414\u0430\u0442\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "arrived_at": {
          "title": "\u0414\u0430\u0442\u0430 \u043f\u0440\u0438\u0431\u044b\u0442\u0438\u044f \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "awaiting_count": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0432\u0438\u0434\u043e\u0432 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043e\u0436\u0438\u0434\u0430\u0435\u043c \u043f\u043e \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435",
          "type": "integer"
        },
        "arrived_count": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0432\u0438\u0434\u043e\u0432 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043f\u0440\u0438\u0431\u044b\u043b\u0438 \u043f\u043e \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435",
          "type": "integer"
        },
        "awaiting_product_count": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0432\u0441\u0435\u0445 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043e\u0436\u0438\u0434\u0430\u0435\u043c \u043f\u043e \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435",
          "type": "integer"
        },
        "arrived_product_count": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0432\u0441\u0435\u0445 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043f\u0440\u0438\u0431\u044b\u043b\u0438 \u0432 \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435",
          "type": "integer"
        },
        "comment": {
          "title": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FulfilmentShipment2": {
      "properties": {
        "status": {
          "title": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "type": "string",
          "enum": [
            "new",
            "removed",
            "accepted",
            "denied",
            "attention-not-required",
            "attention-required"
          ]
        },
        "prefix": {
          "type": "string"
        },
        "id": {
          "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "example": 1,
          "type": "integer"
        },
        "created_at": {
          "title": "\u0414\u0430\u0442\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "arrived_at": {
          "title": "\u0414\u0430\u0442\u0430 \u043f\u0440\u0438\u0431\u044b\u0442\u0438\u044f \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "shipment_products": {
          "title": "\u0422\u043e\u0432\u0430\u0440\u044b \u0432 \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435",
          "items": {
            "$ref": "#\/definitions\/FulfilmentShipmentProduct"
          },
          "type": "array"
        },
        "awaiting_count": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0432\u0438\u0434\u043e\u0432 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043e\u0436\u0438\u0434\u0430\u0435\u043c \u043f\u043e \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435",
          "type": "integer"
        },
        "arrived_count": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0432\u0438\u0434\u043e\u0432 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043f\u0440\u0438\u0431\u044b\u043b\u0438 \u043f\u043e \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435",
          "type": "integer"
        },
        "awaiting_product_count": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0432\u0441\u0435\u0445 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043e\u0436\u0438\u0434\u0430\u0435\u043c \u043f\u043e \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435",
          "type": "integer"
        },
        "arrived_product_count": {
          "title": "\u0412\u0441\u0435\u0433\u043e \u0432\u0441\u0435\u0445 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043f\u0440\u0438\u0431\u044b\u043b\u0438 \u0432 \u043f\u043e\u0441\u0442\u0430\u0432\u043a\u0435",
          "type": "integer"
        },
        "comment": {
          "title": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Package": {
      "properties": {
        "status": {
          "title": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
          "type": "string",
          "enum": [
            "waiting-collected",
            "waiting-products",
            "need-confirm",
            "new",
            "in-progress",
            "packed",
            "prepared-to-send",
            "sent",
            "handed",
            "delivered",
            "removed",
            "returned",
            "lost",
            "unpack"
          ]
        },
        "actualDeliveryCost": {
          "title": "\u0410\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u0430\u044f \u0446\u0435\u043d\u0430 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "description": "\u041c\u043e\u0436\u0435\u0442 \u043c\u0435\u043d\u044f\u0442\u044c\u0441\u044f \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0435 \u0440\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
          "type": "float"
        },
        "prefix": {
          "title": "Prefix id",
          "example": "RP9568",
          "type": "string"
        },
        "id": {
          "description": "Id \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "integer"
        },
        "created_at": {
          "description": "\u0414\u0430\u0442\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0442\u043e\u0432\u0430\u0440\u0430",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "description": "\u0414\u0430\u0442\u0430 \u0438\u0437\u043c\u0438\u043d\u0435\u043d\u0438\u044f \u0442\u043e\u0432\u0430\u0440\u0430",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "length": {
          "type": "number",
          "format": "float"
        },
        "width": {
          "type": "number",
          "format": "float"
        },
        "height": {
          "type": "number",
          "format": "float"
        },
        "external_id": {
          "type": "string"
        },
        "cod": {
          "type": "number",
          "format": "float"
        },
        "declared_cost": {
          "type": "number",
          "format": "float"
        },
        "is_need_confirm": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "who_is_paid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Package2": {
      "properties": {
        "status": {
          "title": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
          "type": "string",
          "enum": [
            "waiting-collected",
            "waiting-products",
            "need-confirm",
            "new",
            "in-progress",
            "packed",
            "prepared-to-send",
            "sent",
            "handed",
            "delivered",
            "removed",
            "returned",
            "lost",
            "unpack"
          ]
        },
        "actualDeliveryCost": {
          "title": "\u0410\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u0430\u044f \u0446\u0435\u043d\u0430 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
          "description": "\u041c\u043e\u0436\u0435\u0442 \u043c\u0435\u043d\u044f\u0442\u044c\u0441\u044f \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0435 \u0440\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
          "type": "float"
        },
        "prefix": {
          "title": "Prefix id",
          "example": "RP9568",
          "type": "string"
        },
        "tracking": {
          "$ref": "#\/definitions\/PackageTrackingDTO"
        },
        "id": {
          "description": "Id \u0442\u043e\u0432\u0430\u0440\u0430",
          "type": "integer"
        },
        "created_at": {
          "description": "\u0414\u0430\u0442\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0442\u043e\u0432\u0430\u0440\u0430",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "description": "\u0414\u0430\u0442\u0430 \u0438\u0437\u043c\u0438\u043d\u0435\u043d\u0438\u044f \u0442\u043e\u0432\u0430\u0440\u0430",
          "example": "2020-09-21T10:39:21+03:00",
          "type": "string",
          "format": "date-time"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "length": {
          "type": "number",
          "format": "float"
        },
        "width": {
          "type": "number",
          "format": "float"
        },
        "height": {
          "type": "number",
          "format": "float"
        },
        "external_id": {
          "type": "string"
        },
        "cod": {
          "type": "number",
          "format": "float"
        },
        "declared_cost": {
          "type": "number",
          "format": "float"
        },
        "is_need_confirm": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "fulfilment_package_products": {
          "$ref": "#\/definitions\/FulfilmentPackageProduct"
        },
        "who_is_paid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Coordinates": {
      "properties": {
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ShippingCourier": {
      "properties": {
        "slug": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Money": {
      "properties": {
        "amount": {
          "title": "Internal value.",
          "type": "string"
        },
        "currency": {
          "$ref": "#\/definitions\/Currency"
        }
      },
      "type": "object"
    },
    "Money2": {
      "properties": {
        "amount": {
          "title": "Internal value.",
          "type": "string"
        },
        "currency": {
          "$ref": "#\/definitions\/Currency2"
        }
      },
      "type": "object"
    },
    "FulfilmentShipmentProduct": {
      "properties": {
        "id": {
          "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440",
          "type": "integer"
        },
        "product": {
          "$ref": "#\/definitions\/FulfilmentProduct2"
        },
        "awaiting_count": {
          "title": "\u041e\u0436\u0438\u0434\u0430\u0435\u043c \u0442\u043e\u0432\u0430\u0440\u043e\u0432",
          "type": "integer"
        },
        "arrived_count": {
          "title": "\u041f\u0440\u0438\u0431\u044b\u043b\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PackageTrackingDTO": {
      "properties": {
        "tracking": {
          "title": "\u0422\u0422\u041d \u043a\u0443\u0440\u0435\u0440\u0441\u043a\u043e\u0439 \u0441\u043b\u0443\u0436\u0431\u044b",
          "type": "string"
        },
        "courierSlug": {
          "title": "\u0422\u0438\u043f \u043a\u0443\u0440\u0435\u0440\u0441\u043a\u043e\u0439 \u0441\u043b\u0443\u0436\u0431\u044b",
          "type": "string",
          "enum": [
            "nova-post",
            "ukr-post",
            "justin"
          ]
        },
        "checkpoint": {
          "$ref": "#\/definitions\/PackageTrackingCheckpointDTO"
        }
      },
      "type": "object"
    },
    "FulfilmentPackageProduct": {
      "properties": {
        "id": {
          "type": "integer"
        },
        "product": {
          "$ref": "#\/definitions\/FulfilmentProduct2"
        },
        "need_count": {
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Currency": {
      "properties": {
        "code": {
          "title": "Currency code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Currency2": {
      "properties": {
        "code": {
          "title": "Currency code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PackageTrackingCheckpointDTO": {
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "string"
        },
        "date": {
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "name": "Authorization",
      "type": "apiKey",
      "in": "header",
      "description": "Value: Bearer {jwt}"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}